<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>randomPhoto.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>buildNumber</key>
			<string>2</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>89DD45D0C55B04AA4E8AA62A43546EE63E2C3FC4</string>
				<key>dateExpires</key>
				<string>2023/9/19</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>89DD45D0C55B04AA4E8AA62A43546EE63E2C3FC4</string>
						<key>dateExpires</key>
						<string>2023/9/19</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Gifu.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4JU67726UX</string>
						<key>name</key>
						<string>DM&amp;C Technology Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>89DD45D0C55B04AA4E8AA62A43546EE63E2C3FC4</string>
						<key>dateExpires</key>
						<string>2023/9/19</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Nuke.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4JU67726UX</string>
						<key>name</key>
						<string>DM&amp;C Technology Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>89DD45D0C55B04AA4E8AA62A43546EE63E2C3FC4</string>
						<key>dateExpires</key>
						<string>2023/9/19</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>NukeUI.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4JU67726UX</string>
						<key>name</key>
						<string>DM&amp;C Technology Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>89DD45D0C55B04AA4E8AA62A43546EE63E2C3FC4</string>
						<key>dateExpires</key>
						<string>2023/9/19</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>StreamChat.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4JU67726UX</string>
						<key>name</key>
						<string>DM&amp;C Technology Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>89DD45D0C55B04AA4E8AA62A43546EE63E2C3FC4</string>
						<key>dateExpires</key>
						<string>2023/9/19</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>StreamChatSwiftUI.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4JU67726UX</string>
						<key>name</key>
						<string>DM&amp;C Technology Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>89DD45D0C55B04AA4E8AA62A43546EE63E2C3FC4</string>
						<key>dateExpires</key>
						<string>2023/9/19</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyGif.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4JU67726UX</string>
						<key>name</key>
						<string>DM&amp;C Technology Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>2</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>4JU67726UX.io.roarrr.random.photo</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>4JU67726UX</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>4JU67726UX.io.roarrr.random.photo</string>
				</array>
			</dict>
			<key>name</key>
			<string>randomPhoto.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>012cb57b-08a1-41e7-bb7f-a03531c1836a</string>
				<key>dateExpires</key>
				<string>2023/9/19</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: io.roarrr.random.photo</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>4JU67726UX</string>
				<key>name</key>
				<string>DM&amp;C Technology Co., Ltd.</string>
			</dict>
			<key>versionNumber</key>
			<string>2</string>
		</dict>
	</array>
</dict>
</plist>
